<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar-fixed-top boder-header">
        <div class="logo-store">
            <img src="https://www.sportsshoes.com/media/image/sportsshoes-logo.svg" alt="logo-shoe-shop" height="80" />
        </div>
        <div class="header-form">
            <form class="col-sm-5 search-form" action="#">
                <div class="input-group">
                    <label class="sr-only" for="search-form">Search the site</label>
                    <input class="input-search" id="search-form">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="sr-only">Search</span>
                        </button>
                    </span>
                </div>
            </form>
            <button class="btn btn-default btn-fixed-right" type="button">
                <span class="glyphicon glyphicon-user"></span>
                <span class="sr-only">Search</span>
            </button>
            <button class="btn btn-default btn-fixed-right" type="button">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span class="sr-only">Search</span>
            </button>
        </div>
    </div>
    <div class="nabar navbar-inverse header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MEN", "#controller", "#view", new { area = "" }, new { @class = "navbar-brand collage-brand" })
                @Html.ActionLink("WOMEN", "#controller", "#view", new { area = "" }, new { @class = "navbar-brand collage-brand" })
                @Html.ActionLink("GIRL", "#controller", "#view", new { area = "" }, new { @class = "navbar-brand collage-brand" })
                @Html.ActionLink("BOY", "#controller", "#view", new { area = "" }, new { @class = "navbar-brand collage-brand" })
                @Html.ActionLink("CUSTOMIZE", "#controller", "#view", new { area = "" }, new { @class = "navbar-brand collage-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="body-content">
        <div class="row">
            @RenderBody()
        </div> 
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>