@model SportsStore.Domain.Entities.Cart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>Your Cart</h3>

</div>

<div>
    <table class="table tab-content">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        @foreach (var cartLine in Model.LineCollection)
        {
            <tr>
                <th>@cartLine.Product.ProductName</th>
                <th>@cartLine.Quatity</th>
                <th>@cartLine.Product.Price</th>
                <th>@(cartLine.Quatity*cartLine.Product.Price)</th>
            </tr>
        }
        <tr>
            <td colspan="3">
                Total
            </td>
            <td>
                @Model.ComputerTotal().ToString("c")
            </td>
        </tr>
        <tr>
            <td>
                <a href="@ViewBag.ReturnUrl" class="btn btn-primary">
                    <i class="glyphicon glyphicon-backward">
                    </i>
                    Back
                </a>
            </td>
            <td colspan="2"></td>
            <td>
                <a href="@Url.Action("CheckOut","Cart")" class="btn btn-danger">
                    CheckOut
                </a>
            </td>
        </tr>
    </table>
</div>

